<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>User Profile</title>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
    </script>
    
</head>
<body>
  {% if user.is_authenticated %}

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light " href="/">QuizApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/quiz_user/leaderboard/">LeaderBoard</a>
          </li>
        </ul>
        <form class="d-flex">
          <a href="/quiz_user/profile" data-toggle="tooltip" title="user profile"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="40vw" height="40vh" class="rounded-circle" alt="..."></a>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p class="user_name_id text-light">Welcome - {{user}}</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <a class="btn btn-outline-danger my-2 my-sm-0" class="btn btn-outline-success" href="/quiz_user/logout">Logout</a>
        </form>
      </div>
    </div>
  </nav>
  
  {% else %}

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light " href="/">QuizApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/quiz_user/leaderboard/">LeaderBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/quiz_user/register/">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/quiz_user/login/">Login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

{% endif %}
  
    
    <section style="background-color: #eee;">
      <div class="container py-5">
          <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">ABC</h5>
                <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">HeadOffice, Mumbai</p>
              </div>
            </div>
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fas fa-globe fa-lg text-warning"></i>
                    <a href="https://www.quantiphi.com/" target="_blank" class="mb-0 text-dark" >Quantiphi</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                    <a href="https://www.github.com/" target="_blank" class="mb-0 text-dark" >Github</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                    <a href="https://www.twitter.com/" target="_blank" class="mb-0 text-dark" >Twitter</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                    <a href="https://www.instagram.com/" target="_blank" class="mb-0 text-dark" >Instagram</a>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                    <a href="https://www.facebook.com/" target="_blank" class="mb-0 text-dark" >Facebook</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">JABC SHK</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">UserName</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">ABCDEF</p>
                  </div>
                </div>
              </div>
            </div>
            
              <div class="">
                <div class="container">
                  <div class="">
                      <div class="card mt-4">
                          <div class="text-center display-5 p-3 mt-5 mb-4 ">
                              Performance Score Card
                          </div>
                          <div class="card-body">
                            <div>
                              <h5 class="card-title">Nos of quizz Attempted &nbsp;&nbsp;&nbsp;</h5>
                              <!-- <hr /> -->
                              <hr />
                              <h5 class="card-title text-center"><u>Name of Quizz Attempted and its Score</u></h5>
                              <table class="table table-hover mt-3">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Quiz Name</th>
                                    <th scope="col">My Score</th>
                                    <th scope="col">Result</th>
                                    <th scope="col">Date Time</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for post in data %}
                                  <tr>
                                    <th class="p-3" scope="row">{{post.index}}</th>
                                    <td class="p-3">{{post.subject_name}}</td>
                                    <td class="p-3">{{post.score}}</td>
                                    <td class="p-3">Passed</td>
                                    <td class="p-3">{{post.datetime}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              <hr />
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
  </section>
</body>
</html>