{% extends 'quiz_admin/admin_base.html' %} {% block title %}Add Questions{% endblock title %} {% block content%}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'quiz_admin/css/addquestion.css' %}" type="text/css">
</head>

<body>


    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add Question </h3>
                        <form class="requires-validation" novalidate method="post">
                            <!-- <form class="requires-validation" novalidate method="post"
                            action="{% url 'admin_add_question' pk %}"> -->
                            {% csrf_token %}
                            <div class="col-md-12">
                                <input class="form-control" type="text" name="question" placeholder="Question" required>
                                <div class="valid-feedback">Question field is valid!</div>
                                <div class="invalid-feedback">Question field cannot be blank!</div>
                            </div>

                            <div class="col-md-12 mt-2">

                                <input class="form-control" type="text" name="option_a" placeholder="Option A" required>
                                <div class="invalid-feedback">Option field cannot be blank!</div>
                            </div>
                            <div class="col-md-12 mt-2">

                                <input class="form-control" type="text" name="option_b" placeholder="Option B" required>
                                <div class="invalid-feedback">Option field cannot be blank!</div>

                                <div>
                                    <div class="col-md-12 mt-2">

                                        <input class="form-control" type="text" name="option_c" placeholder="Option C"
                                            required>
                                        <div class="invalid-feedback">Option field cannot be blank!</div>

                                        <div>
                                            <div class="col-md-12 mt-2">

                                                <input class="form-control" type="text" name="option_d"
                                                    placeholder="Option D" required>
                                                <div class="invalid-feedback">Option field cannot be blank!</div>

                                                <div>
                                                    <div class="col-md-12 mt-2">

                                                        <input class="form-control" type="number" name="marks"
                                                            placeholder="Marks" required>
                                                        <div class="invalid-feedback">Option field cannot be blank!
                                                        </div>

                                                        <div>

                                                            <div class="col-md-12">
                                                                <select class="form-select mt-3" name="answer" required>
                                                                    <option selected disabled value="">Correct Option
                                                                    </option>
                                                                    <option value="a">Option A</option>
                                                                    <option value="b">Option B</option>
                                                                    <option value="c">Option C</option>
                                                                    <option value="d">Option D</option>
                                                                </select>
                                                                <div class="valid-feedback">You selected a option!</div>
                                                                <div class="invalid-feedback">Please select a option!
                                                                </div>
                                                            </div>
                                                            <div class="form-button mt-3">
                                                                <button id="submit" type="submit" name="save_and_add"
                                                                    class="btn btn-primary ">Save and Add another
                                                                    question</button>

                                                                <button id="submit" type="submit" name="save"
                                                                    class="btn btn-primary mx-3">Submit</button>
                                                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        (function () {
            'use strict'
            const forms = document.querySelectorAll('.requires-validation')
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

    </script>

    <!-- <br>
    <h2 style="text-align:center; color:rgb(250, 250, 250);">ADD QUIZ</h2> -->
    <!-- <div id="container-sm">
        <span class="input msg">
            <input type="text" class="input__field" id="input-7"/>
            <label for="input-7" class="input__label">
                <span class="input__label-content">Question</span>
        </label>
        </span>
        <span class="input">
            <input type="text" class="input__field" id="input-1"/>
            <label for="input-1" class="input__label">
                <span class="input__label-content">option 1</span>
        </label>
        </span>

        <span class="input ">
            <input type="text" class="input__field " id="input-2" />
            <label for="input-2" class="input__label">
                <span class="input__label-content">option 2</span>
        </label>
        </span>

        <span class="input col-md-6">
            <input type="text" class="input__field" id="input-3" />
            <label for="input-3" class="input__label">
                <span class="input__label-content">option 3</span>
        </label>
        </span>

        <span class="input col-md-6">
            <input type="text" class="input__field" id="input-4" />
            <label for="input-4" class="input__label">
                <span class="input__label-content">option 4</span>
        </label>
        </span>
        
        <span class="input " >
            <input type="text" class="input__field" id="input-5" />
            <label for="input-5" class="input__label">
                <span class="input__label-content">Correct option </span>
        </label>
        </span>
       
        <span class="input ">

            <input type="text" class="input__field" id="input-6" />
            <label for="input-6" class="input__label">
                <span class="input__label-content">Marks</span>
        </label>
      
            </span>
            
            <button id="send-button" type="button">Add Another Question</button>

            <a id="header-links" href="{% url 'admin_add_quiz' %}"><button id="send-button" type="button">Sumbit </button>
                <span class="input " ></span>
                <span class="input " ></span>
                
    </div>





    <script>
        var $input;

        function onInputFocus(event) {
            var $target = $(event.target);
            var $parent = $target.parent();
            $parent.addClass('input--filled');
        };

        function onInputBlur(event) {
            var $target = $(event.target);
            var $parent = $target.parent();

            if (event.target.value.trim() === '') {
                $parent.removeClass('input--filled');
            }
        };

        $(document).ready(function() {
            $input = $('.input__field');

            // in case there is any value already
            $input.each(function() {
                if ($input.val().trim() !== '') {
                    var $parent = $input.parent();
                    $parent.addClass('input--filled');
                }
            });

            $input.on('focus', onInputFocus);
            $input.on('blur', onInputBlur);
        });
    </script>

</body> -->

    {% endblock content %}