{% extends 'quiz_admin/admin_base.html' %} {% load static %} {% block content %}

<head>

    <link rel="stylesheet" href="{% static 'quiz_admin/css/addquestion.css' %}" type="text/css">
</head>


<body>
    <div class="container">
        <h1>Message</h1>
        <form action="#" id="contact_form" class="contact-form contact-grid">

            <div class="form-field name">
                <label class="label" for="fname">full name *</label>
                <input id="fname" type="text" required>
            </div>

            <div class="form-field email">
                <label class="label" for="email">email *</label>
                <input id="email" type="email" required>
            </div>

            <div class="form-field phone">
                <label class="label" for="phone">phone *</label>
                <input id="phone" type="tel" required>
            </div>

            <div class="form-field subject">
                <label class="label">subject *</label>
                <select name="subject" form="contact_form" required>
          <option value="appointment" selected>Appointment</option>
          <option value="cancellation">Cancellation</option>
          <option value="order">Order</option>
          <option value="other">Other</option>
        </select>
            </div>

            <div class="form-field comment-box">
                <label class="label">message</label>
                <textarea name="comment-box" id="message"></textarea>
            </div>

            <div class="submit-button">
                <button id="submit-btn" class="btn" type="submit" value="submit" onclick="validateForm()">submit</button>
            </div>

        </form>

    </div>

</body>

{% endblock %}