{% extends 'quiz_admin/admin_base.html' %} {% block title %}delete question {% endblock title %} {% block content%}
{% load static %}

<body style="background-color: black;">
    <br>
    <br>
    <br>

    <div class="container p-3 my-3 bg-dark  text-white" style="padding:40px;">
        <form method="POST">
            {% csrf_token %}
            <h3>Are you want to delete this item?</h3>
            <br>
            <button class="btn btn-danger mx-3" type="submit">Delete</button>

            <a href="{%url 'admin_view_questions' quizId %}"><button class="btn btn-primary" type="button">Cancel </button></a>
        </form>
    </div>

</body>
{% endblock content %}