{% extends 'quiz_admin/admin_base.html' %} {% block title %} Home {% endblock title %}
{% block style %}
{% load static%}
<link rel="stylesheet" href="{% static 'quiz_admin/css/home.css' %}" type="text/css">
{% endblock style %}

{% block content%}

<body style="background-color: black;">

    <br>
    <br>
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
                <div class="card cardhome">

                    <img src="{% static 'quiz_admin/img/checklist.png' %}"
                        class="card-img-top resize" alt="...">
                    <div class="card-body">
                        <div class="text-center">
                            <button type="button" class="btn " style="color: white;background-color: #6E61B7;"><a id="header-links"
                                    style="text-decoration: none;color: white;" href="{% url 'admin_add_quiz' %}">Create
                                    New
                                    Quiz</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardhome">
                    <img src="{% static 'quiz_admin/img/seo.png' %}"
                        class="card-img-top resize " alt="...">
                    <div class="card-body">
                        <div class="text-center">
                            <button type="button" class="btn " style="color: white; background-color:#69b2e4;"><a id="header-links"
                                    style="text-decoration: none;color: white;"
                                    href="{% url 'admin_view_all_quiz' %}">View All
                                    Quizes</a></button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

{% endblock content %}